//Common
body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    color: #562C2C;
}
.container-width {
    max-width: 1240px;
    margin: 0 auto;
}
img {
    object-fit: cover;
    width: 100%;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
p {
    margin: 0; 
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    display: inline-block;
}
//Header

.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    background: #562C2C;
    opacity: 0.7;
    &_inner {
        display: flex;
        align-items: center;
        width: 100%;
        max-height: 56px;
        padding: 15.5px 0;
    }
    .logo {
        margin-right: 94px;
        a {
            display: flex;
            img {
                max-width: 105px;
                max-height: 23px;
                object-fit: contain;
            }
        }
    }
    nav {
        display: flex;
        a {
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            margin-right: 149px;
        }
    }
    .right {
        ul {
            display: flex;
            align-items: center;
            li {
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: flex;
                    span {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}